<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="@Url.Content("~/Content/tm.png")" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  
  

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               
            
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
              
                    <li><a href="#" rel="stylesheet" type="text/css">Task Manager</a></li> 
                    <li>@Html.ActionLink("Raporlar", "Index", "Document")</li>
                    <li>@Html.ActionLink("Projeler", "Index", "Project",new { id = @Session["ID"] },null)</li>
                    <li>@Html.ActionLink("Proje Oluştur", "Create", "Project", new { ManagerId = @Session["ID"] }, null)</li>
                    <li>@Html.ActionLink("Görevler", "GetTask", "Task",new { userid = @Session["ID"] },null)</li>
                    <li>@Html.ActionLink("Görev Oluştur", "CreateTask", "Task",new { id = @Session["ID"],name = Session["ManagerName"] },null)</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
      
        <hr/>
        @RenderBody()
     
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
